*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.nav-item{
	padding-right: 30px;
	color: rgb(240, 158, 90);
	font-size: medium;
	text-transform: uppercase;
}

.nav-link{
	color: rgb(100, 98, 98);
	font-weight: 700;
}

.nav-link:hover{
	color:rgb(240, 158, 90);

}

.navbar-toggler{
background: rgb(240, 158, 90);
outline: none;
height: 30px;
border: none;
}

.navbar-toggler span{
	display: block;
	width: 22px;
	height: 2px;
	border: 1px;
	background: white;
	}
.navbar-toggler span + span{
		margin-top: 4px;
		width: 22px;

		}
.navbar-toggler span + span + span{
			width: 22px;
}		
.navbar-expand-md .navbar-nav .nav-link{
	text-align: center;
}

.navbar-expand-md .navbar-nav .nav-link:hover{
	color: rgb(240, 158, 90);


}

.Heading{
	font-size: 3rem;
	margin-top: 50px;
	font-weight: 900;
	color:rgb(240, 158, 90)

}





.head{
	font-size: 25px;
	color: rgb(105, 105, 105);
}

.text
{
	text-align: center;
	margin-top: 5px;
	background-color: rgb(222, 225, 228);
	height: 300px;
}

.know{
	font-weight: 900;
	font-size: 30px;
	padding-top: 5px;
}

.serve{
	text-align: center;
	font-size: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.About img{
	box-shadow: -1px 2px 18px 3px rgba(0,0,0,0.71);
	-webkit-box-shadow: -1px 2px 18px 3px rgba(0,0,0,0.71);
	-moz-box-shadow: -1px 2px 18px 3px rgba(0,0,0,0.71);
}

.prof{
	font-size: 3rem;
	font-weight: 900;
}

.progress{
background-color: whitesmoke;
justify-content: flex-start;
border-radius:  50px;
align-items: center;
position: relative;
display: flex;
height: 25px;
width: 100%;
}



.pro-value1{
	animation: load1 3s normal forwards;
	border-radius: 50px;
	background-color: rgb(240, 158, 90);
	height: 25px;
	width: 0;
}

.pro-value2{
	animation: load2 3s normal forwards;
	border-radius: 50px;
	background-color: rgb(240, 158, 90);
	height: 25px;
	width: 0;
}

.pro-value3{
	animation: load3 3s normal forwards;
	border-radius: 50px;
	background-color: rgb(240, 158, 90);
	height: 25px;
	width: 0;
}

.pro-value4{
	animation: load4 3s normal forwards;
	border-radius: 50px;
	background-color: rgb(240, 158, 90);
	height: 25px;
	width: 0;
}
.progress p{
	color: white;
	padding: 12px;
}



@keyframes load1{
	0%{
		width: 0;
	}
	100%{
		width: 98%;
	}
}

@keyframes load2{
	0%{
		width: 0;
	}
	100%{
		width: 70%;
	}
}

@keyframes load3{
	0%{
		width: 0;
	}
	100%{
		width: 98%;
	}
}


@keyframes load4{
	0%{
		width: 0;
	}
	100%{
		width: 65%;
	}
}


.btn1{
	height: 40px;
	width: 145px;
	outline: none;
	border: none;
	background-color:  rgb(240, 158, 90);
	color: white;
	border-radius: 4px;
	margin-top: 7px;
}

.btn1:hover{
	background-color: transparent;
	color:rgb(240, 158, 90);
	border:1px solid rgb(240, 158, 90);
	transition: 0.5s;
}

.btn2{
	height: 40px;
	width: 145px;
	outline: none;
	border: 1px solid rgb(240, 158, 90);
	background-color:  transparent;
	color: rgb(240, 158, 90);
	border-radius: 4px;
	margin-top: 7px;
}

.btn2:hover{
	background-color: rgb(240, 158, 90);
	color:white;
	border:none;
	transition: 0.5s;
}

.pansit{
	background-color: rgb(223, 217, 217);
}

.detail{
	padding-bottom: 25px;
	text-align: center;
	justify-content: center;
}

.pic{
	padding-left: 75px;

}

.ako{
	height: 450px;
	margin-left: 15px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 35px;
}


.card{
	border:none;
	outline: none;
	box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.67);
-webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.67);
}

.card p{
	color:gray;
}

.circle{
	height: 70px;
	width: 70px;
	background-color: lightgrey;
	color: rgb(240, 158, 90);
	padding:12px;
	display: inline-block;
	margin-bottom: 20px;
	font-size: 30px;
	border-radius: 50%;
}

.card:hover .circle{
background-color: rgb(240, 158, 90);
color: white;
transition: 0.5s;
}

.static-txt{
	color: rgb(116, 115, 115);
	font-size: 40px;
	font-weight: 400;

	
}

.dynamic-txt{
	color:rgb(218, 144, 47);
	animation: typing 1.5s steps(10) infinite;

}

@keyframes typing{
	100%{
		left: 100%;
		margin:0 -15px 0 25px;
	}
	
}


.btn3{
	height: 40px;
	width: 145px;
	outline: none;
	border: none;
	background-color:  rgb(240, 158, 90);
	color: white;
	font-weight: 700;
	border-radius: 4px;
	margin-top: 7px;
}

.btn3:hover{
	background-color: transparent;
	color:rgb(240, 158, 90);
	font-weight: 700;
	border:1px solid rgb(240, 158, 90);
	transition: 0.5s;
}

.About{
	background-color: rgb(243, 245, 245);
}

.Details{
	background-color: rgb(92, 129, 185);
}

.copyright{
	text-align: center;
	color: white;
	padding-top: 7px;
	font-weight: 600;
}